@using Microsoft.AspNetCore.Identity
@using DotnetStore.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result.IsAdmin)
{
    <li class="nav-item ">
        <a id="nav-link-1" class="nav-link active" asp-page="./Index"
           aria-current="page">
            Administration
        </a>
    </li>
    <li class="nav-item dropdown">
        <a id="nav-link-2" class="nav-link  dropdown-toggle" href="#" aria-current=""
           role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Products
        </a>
        <ul class="dropdown-menu " aria-labelledby="nav-link-2">
            <li>
                <a class="dropdown-item" asp-page="./Index" aria-current="">
                    Products
                </a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <a class="dropdown-item " asp-page="./Index" aria-current="">
                    Discounts
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item ">
        <a id="nav-link-1" class="nav-link active" asp-page="./Index"
           aria-current="page">
            Users
        </a>
    </li>
}