
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" href="/account/manage">
            Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" href="/account/manage/email">
            Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" href="/account/manage/changepassword">
            Password
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.AddressesNavClass(ViewContext)" id="address" href="/account/manage/addresses">
            Address
        </a>
    </li>
</ul>
