@page "/Collections/Sale"
@model DotnetStore.Pages.Collections.Sale

@{
    Layout = "Shared/_Layout";
}

<div id="shopify-section-collection-template" class="shopify-section">
    <div id="collection-239139815586" class="collection">
        <img class="collection-img w-100 h-auto object-fit-cover mt-n7 mb-6" src="~/assets/home.jpeg"
             width="1600" height="320" style="max-height: 320px;">
        <!-- Collection header -->
        <div class="heading-wrapper container-lg overflow-hidden text-center mx-auto mb-3" style="max-width: 768px">
            <h1 class="heading mb-1 display-5">
                Sale
            </h1>
            <div class="description rte text-muted ">
                <p>Browse through our collection of discounted products.</p>
            </div>
        </div>
        <div class="container-lg">
            <ul class="items-grid list-unstyled row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-6 g-3 g-sm-3 g-xl-4">

            </ul>
        </div>
    </div>
</div>