@page "/account/manage/orders"
@model DotnetStore.Areas.Identity.Pages.Account.Manage.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}

<h4>Orders</h4>
<hr/>
<div id="account" class="container">
    <!-- Header -->
    <div class="heading-wrapper overflow-hidden text-center mx-auto mb-5" style="max-width: 768px">
        <!-- Heading -->
        <h1 class="heading mb-3">
            My Orders
        </h1>
    </div>
    <div class="row">
        <!-- Orders -->
        <div class="col-lg-12">
            <h2 class="heading mb-3">
                Order History
            </h2>
            @if (Model.Orders.Count > 0)
            {
                <div class="table-responsive-collapse-lg">
                    <table id="table-orders-list" class="table mt-3 mb-4">
                        <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Order status</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Orders)
                        {
                            <tr class="responsive-table-row">
                                <td>
                                    <a class="theme-link-color" href="/Order/@item.Id">
                                        @Html.Raw(item.Id)
                                    </a>
                                </td>
                                <td>
                                    @Html.Raw(String.Format("{0:MMMM dd, yyyy HH:mm}", item.CreatedAt))
                                </td>
                                <td>
                                    @Html.Raw(item.OrderStatus)
                                </td>
                                <td>
                                    @Html.Raw(String.Format("${0:0.00}", item.Total))
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p class="alert alert-warning">
                    You haven't placed any orders yet.
                </p>
            }
        </div>
    </div>
</div>